/*------Abre----------- Hover para escurecer a imagem quando passa o cursor ---------------------*/

.imagem-galery {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
}

.imagem-galery:hover {
    background-position: 30% 20%;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
    filter: grayscale(90%);
}

/*------Fecha----------- Hover para escurecer a imagem quando passa o cursor ---------------------*/

.container {
    max-width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

.div-titulo {
    width: 100%;
    text-align: center;
}

.div-titulo h1 {
    font-size: 5vw;
    color: #000000;
}

.livro {
    flex: 1 1 calc(30% - 2%);
    max-width: calc(30% - 2%);
    text-align: center;
}

.marquee {
    background: #006B64;
    font-weight: 100;
    color: aliceblue;
    padding: 15px;
}

.botao {
    color: #006B64;
    text-decoration: none;
    font-family: Gotham-Book;
}

.botao:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan, 0 0 400px cyan;
}

.p1 {
    text-align: justify;
    padding: 10px;
    color: #000;
    font-family: Gotham-Book;
    line-height: 1.5;
}

/* Contêiner Carrosel */

h5,
h4 {
    text-align: center;
    padding: 2vw;
    font-family: Gotham-Book;
    font-size: 2vw;
    color: #a1a1a1;
}

h4 {
    font-size: 3vw;
}

hr {
    margin-top: 20px;
}

.carrossel-container {
    position: relative;
    width: 100%;
    max-width: 95%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* Botões de navegação */
.seta {
    position: absolute;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: #006B64;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.seta.esquerda {
    left: 0;
}

.seta.direita {
    right: 0;
}

.carrossel-wrapper {
    overflow: hidden;
    width: 100%;
}

/* Carrossel */
.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

/* Itens do carrossel */
.carrossel-publicacao {
    flex: 0 0 20%;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
}

.carrossel-publicacao img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.carrossel-publicacao img:hover {
    transform: scale(1.05);
}

/* Pesquisa */
.search-section {
    text-align: center;
    padding: 20px;
}

.search-form {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-input {
    padding: 15px;
    font-size: 1.2rem;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F4F4F4;
    font-family: Gotham-book;
}

.search-button {
    padding: 15px 30px;
    font-size: 1rem;
    background: linear-gradient(to right, #aaaaaa 50%, hsl(176, 100%, 21%) 50%);
    background-size: 200% 100%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-position 0.4s ease;
}

.search-button:hover {
    background-position: right bottom;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url(/assets/fonts/gotham-bold.otf) format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url(/assets/fonts/gotham-book.otf) format('opentype');
    font-size: normal;
}

/* Media Queries */
@media (max-width: 768px) {
    .livro {
        flex: 1 1 calc(50% - 2%);
        max-width: calc(50% - 2%);
    }

    .div-titulo h1 {
        font-size: 6vw;
    }

    h5, h4 {
        font-size: 3vw;
    }

    .carrossel-publicacao {
        flex: 0 0 50%;
    }
}

@media (max-width: 480px) {
    .livro {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .div-titulo h1 {
        font-size: 8vw;
    }

    h5, h4 {
        font-size: 4vw;
    }

    .search-form {
        flex-direction: column;
    }

    .search-input {
        width: 100%;
    }

    .carrossel-publicacao {
        flex: 0 0 100%;
    }
}
