/*------Abre----------- Hover para escurecer a imagem quando passa o cursor ---------------------*/

.imagem-galery {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
}

.imagem-galery:hover {
    background-position: 30% 20%;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
    filter: grayscale(90%);
    color: #fff;
}

/*------Fecha----------- Hover para escurecer a imagem quando passa o cursor ---------------------*/

.container, .container2 {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.div-titulo {
    width: 100%;
    text-align: center;
}

.livro1, .livro2 {
    flex: 1 1 calc(33% - 20px);
    max-width: calc(33% - 20px);
    text-align: center;
}

.h1{
    font-size: 80px;
    color: #000000;
    font-weight: 100;
   }
   
.marquee {
    background: #006B64;
    font-weight: 100;
    color: aliceblue;
    padding: 10px;
}

.botao {
color: #000;
text-decoration: none;

}
.botao:hover {
	transform: scale(1.1);
	transition: all 0.5s;
	box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan,
	0 0 100px cyan, 0 0 200px cyan, 0 0 400px cyan;
}

.p1 {
text-align: justify;
padding: 10px;
color: #000;
}