/*------Abre----------- Hover para escurecer a imagem quando passa o cursor ---------------------*/

.imagem-galery {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
}

.imagem-galery:hover {
    background-position: 30% 20%;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
    filter: grayscale(90%);
    color: #fff;
}

/*------Fecha----------- Hover para escurecer a imagem quando passa o cursor ---------------------*/

.container, .container2 {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.div-titulo {
    width: 100%;
    text-align: center;
}

.livro1, .livro2 {
    flex: 1 1 calc(33% - 20px);
    max-width: calc(33% - 20px);
    text-align: center;
}

.h1{
    font-size: 80px;
    color: #000000;
    font-weight: 100;
   }
   
.marquee {
    background: #006B64;
    font-weight: 100;
    color: aliceblue;
    padding: 10px;
}

.botao {
color: #000;
text-decoration: none;

}
.botao:hover {
	transform: scale(1.1);
	transition: all 0.5s;
	box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan,
	0 0 100px cyan, 0 0 200px cyan, 0 0 400px cyan;
}

.p1 {
text-align: justify;
padding: 10px;
color: #000;
}

/* Contêiner principal */
.carrossel-container {
    position: relative;
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
    margin: 0 auto; /* Garante centralização horizontal na página */
}


/* Botões de navegação */
.seta {
    position: absolute;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.seta.esquerda {
    left: 0;
}

.seta.direita {
    right: 0;
}

.carrossel-wrapper {
    overflow: hidden;
    width: 100%;
}

/* Carrossel */
.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

/* Itens do carrossel */
.carrossel-publicacao {
    flex: 0 0 25%;
    text-align: center;
    padding: 10px;
}

.carrossel-publicacao img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.carrosel-publicacao img:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}