/* Estilo do containers */
.content-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    padding: 20px;
    flex-wrap: wrap;
}

/*  LADO ESQUERDO DA PAGINA - APRESENTAÇÃO EM SI  */
.container-60 {
    flex: 3;
    min-width: 60%;
    background-color: #fff;
    padding: 15px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.publicacao-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

/* IMAGEM DE APRESENTAÇÃO */
.imagem-capa {
    flex: 1;
    padding: 20px;
}

.capa {
    width: 100%;
    aspect-ratio: 1 / 1.414;
    object-fit: cover;
}

.resumo-publicacao {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-publicacao {
    font-size: 24px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.descricao-publicacao {
    text-align: justify;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* BOTÃO DE DOWNLOAD */
.botao-download {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #006B64;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 160px;
    height: 40px;
    margin-left: 20px;
}

.botao-download:hover {
    background-color: #004d4b;
}

/* Area de Pesquisa Lateral com sugestões  */
.container-30 {
    flex: 1;
    min-width: 25%;
    background-color: #fff;
    padding: 15px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para pesquisa e botão pesquisa */
.pesquisa form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.pesquisa input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* BOTÃO PESQUISAR */
.pesquisa button {
    background: linear-gradient(to right, #aaaaaa 50%, #006B64 50%);
    background-size: 200% 100%;
    background-color: left bottom;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-position 0.4s ease;
    max-width: 320px;
}

.pesquisa button:hover {
    background-position: right bottom;
}

/* Estilo para as publicações semelhantes */
.publicacoes-semelhantes h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.publicacoes-semelhantes ul {
    list-style: none;
}

.publicacoes-semelhantes li {
    margin-bottom: 10px;
}

.publicacoes-semelhantes a {
    text-decoration: none;
}

/* Estilo para a seção de comentários */
.comentarios {
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.comentarios h2 {
    font-size: 20px;
    margin-top: 20px;
}

.comentarios h3 {
    font-size: 20px;
}

.comentario {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.comentario p {
    font-size: 16px;
    color: #333;
}

.comentario-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.usuario-info {
    display: flex;
    gap: 15px;
}

.foto-autor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.nome-autor {
    font-size: 16px;
    font-weight: bold;
}

.data-comentario {
    font-size: 14px;
    color: #888;
}

.comentarios form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.comentarios textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    resize: vertical;
    min-height: 100px;
}

.comentarios button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #006B64;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 160px;
    height: 40px;
}

.comentarios button:hover {
    background-color: #004d4b;
}

/* Responsividade */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .container-60, .container-30 {
        width: 100%;
    }

    .foto-autor {
        width: 40px;
        height: 40px;
    }

    #comentarios h2 {
        font-size: 20px;
    }

    .comentario p {
        font-size: 14px;
    }
}


